## Loading the data from BigQuery and saving it to CloudStorage

In [18]:
import google.datalab.bigquery as bq
import pandas as pd
import pandas as pd
import numpy as np
from io import StringIO

In [19]:
#query = 'SELECT int64_field_0, date_field_1, double_field_9, double_field_10, double_field_11, double_field_12, double_field_13 FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm` WHERE int64_field_0 in (1769501, 1769568, 1769800, 3375481, 2108159, 3375612, 3408413, 3408542, 2108191, 3336993, 3343216, 3343262, 1737658, 689094, 689101, 1737723, 1737737, 1737776, 1770548, 1770580, 1803439, 1737910, 1737951, 3343610, 1738019, 3343693, 1752401, 1803634, 1738109, 1750643, 1738144, 1770919, 1869227, 1836494, 1836511, 1803749, 1836581, 1738283, 1738310, 1738317, 1934930, 1738328, 1934964, 1869431, 1934972, 1934975, 1836673, 1836682, 1869451, 1803929, 1869469, 1869489, 1836723, 1771191, 1771212, 1738523, 1836831, 1738549, 1836854, 1836862, 1869657, 1738639, 1771422, 1869745, 1836981, 1738686, 1935317, 1837035, 1935342, 1869873, 1808052, 1771584, 1771658, 1804427, 1738931, 1738949, 1935567, 1738964, 1935591, 1837295, 1804536, 1935659, 1771825, 1870181, 1935773, 1935824, 1935871, 1935884, 1935895, 1739316, 1739364, 1739366, 1739390, 1739404, 1739426, 1739466, 1739510, 1739589, 1772359, 1936219)'
query = 'SELECT int64_field_0, date_field_1, double_field_9, double_field_10, double_field_11, double_field_12, double_field_13 FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm` WHERE int64_field_0 in (1769501, 1769568, 1769800, 3375481, 2108159, 3375612, 3408413) ORDER BY int64_field_0, date_field_1'
#query = 'SELECT * FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm`'
churn = bq.Query(query)
df = churn.execute(output_options=bq.QueryOutput.dataframe()).result()
df

,int64_field_0,date_field_1,double_field_9,double_field_10,double_field_11,double_field_12,double_field_13
0,1769501,2017-01-05,34.94,0.00,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.00,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.00,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.00,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.00,31.06,0.00,96.26
5,1769501,2017-01-21,11.59,0.00,11.59,0.00,66.99
6,1769501,2017-01-23,24.26,0.00,24.26,0.00,48.61
7,1769501,2017-01-26,15.47,0.00,15.47,0.00,175.57
8,1769501,2017-01-31,0.00,0.00,0.00,0.00,10.00
9,1769501,2017-02-01,3.19,0.00,3.19,0.00,115.35
10,1769501,2017-02-04,3.19,0.00,3.19,0.00,166.87
11,1769501,2017-02-06,0.00,0.00,0.00,0.00,30.04
12,1769501,2017-02-08,3.19,0.00,3.19,0.00,103.46
13,1769501,2017-02-11,3.19,0.00,3.19,6.53,100.67
14,1769501,2017-02-14,3.19,0.00,3.19,0.00,132.67
15,1769501,2017-02-18,3.19,0.00,3.19,0.00,125.87
16,1769501,2017-02-22,3.19,0.00,3.19,0.00,104.92
17,1769501,2017-02-25,3.19,0.00,3.19,0.00,154.98
18,1769501,2017-02-28,0.00,0.00,0.00,0.00,129.43
19,1769501,2017-03-01,14.15,0.00,14.15,0.00,63.13
20,1769501,2017-03-04,22.67,8.52,14.15,8.52,134.90
21,1769501,2017-03-08,14.15,0.00,14.15,0.00,123.90
22,1769501,2017-03-11,14.15,0.00,14.15,7.02,103.73
23,1769501,2017-03-14,14.15,0.00,14.15,0.00,136.87
24,1769501,2017-03-16,14.15,0.00,14.15,0.00,84.31
25,1769501,2017-03-21,14.15,0.00,14.15,0.00,119.62
26,1769501,2017-03-25,14.74,0.00,14.74,0.00,154.59
27,1769501,2017-03-29,14.15,0.00,14.15,0.00,54.45
28,1769501,2017-03-30,0.00,0.00,0.00,0.00,69.76
29,1769501,2017-04-01,12.65,0.00,12.65,0.00,44.13
...,...,...,...,...,...,...,...
693,3408413,2017-11-02,0.00,0.00,0.00,0.00,110.96
694,3408413,2017-11-06,0.00,0.00,0.00,0.00,318.17
695,3408413,2017-11-07,0.00,0.00,0.00,0.00,57.70
696,3408413,2017-11-08,0.00,0.00,0.00,0.00,288.65
697,3408413,2017-11-13,0.00,0.00,0.00,0.00,3.86
698,3408413,2017-11-15,0.00,0.00,0.00,0.00,442.20
699,3408413,2017-11-18,0.00,0.00,0.00,0.00,-3.88
700,3408413,2017-11-20,0.00,0.00,0.00,0.00,3.91
701,3408413,2017-11-20,0.00,0.00,0.00,0.00,478.31
702,3408413,2017-11-21,0.00,0.00,0.00,0.00,478.31
703,3408413,2017-11-22,0.00,0.00,0.00,0.00,249.31
704,3408413,2017-11-23,0.00,0.00,0.00,0.00,37.10
705,3408413,2017-11-26,0.00,0.00,0.00,0.00,-22.87
706,3408413,2017-11-27,0.00,0.00,0.00,0.00,166.24
707,3408413,2017-11-29,0.00,0.00,0.00,0.00,311.70
708,3408413,2017-12-01,0.00,0.00,0.00,0.00,366.72
709,3408413,2017-12-04,0.00,0.00,0.00,0.00,175.26
710,3408413,2017-12-06,0.00,0.00,0.00,0.00,-32.27
711,3408413,2017-12-07,0.00,0.00,0.00,0.00,142.60
712,3408413,2017-12-08,0.00,0.00,0.00,0.00,3.86
713,3408413,2017-12-11,0.00,0.00,0.00,0.00,783.21
714,3408413,2017-12-12,0.00,0.00,0.00,0.00,-124.87
715,3408413,2017-12-13,0.00,0.00,0.00,0.00,83.69
716,3408413,2017-12-15,0.00,0.00,0.00,0.00,425.38
717,3408413,2017-12-16,0.00,0.00,0.00,0.00,-3.58
718,3408413,2017-12-18,0.00,0.00,0.00,0.00,150.72
719,3408413,2017-12-19,0.00,0.00,0.00,0.00,43.20
720,3408413,2017-12-20,0.00,0.00,0.00,0.00,10.22
721,3408413,2017-12-29,0.00,0.00,0.00,5.35,391.64
722,3408413,2017-12-30,0.00,0.00,0.00,0.00,-14.82

In [20]:
#df.to_csv('check.csv')

In [21]:
check = df['date_field_1'].tolist()
check_list = []
for i in range(len(check)-1):
  if check[i] == check[i+1]:
    check_list.append(i)

In [22]:
#df.drop(193, axis=1)
df = df.drop(df.index[check_list])

In [23]:
df.columns = ['customer', 'date', 'promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales'] 
#churn.columns = ['customer_key', 'date_of_day', 'transaction_key', 'store_id', 'corporate_abc_cd', 'promo_visit_flag', 'nf_visit_flag', 'food_visit_flag', 'ret_visit_flag', 'promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales', 'ret_sales', 'cupr_disc_val_nsp', 'sell_val_nsp', 'sell_qty_colli', 'pieces', 'food_colli', 'nf_colli', 'food_pieces', 'nf_pieces', 'margin', 'food_margin', 'nf_margin', 'distinct_pdt_basket', 'distinct_main_cat_basket', 'div_kitchen_cook_n_table_spend', 'div_seasonal_spend', 'div_bus_n_home_care_spend', 'div_office_n_media_spend', 'div_apparel_spend', 'div_other_nonfood_spend', 'div_dry_spend', 'div_fresh_spend', 'div_ultra_fresh_spend', 'div_other_food_spend', 'div_non_coms', 'dep_prelim_grp_food_spend', 'dep_prelim_grp_nonfood_spend', 'dep_bakery_spend', 'dep_dairy_spend', 'dep_delicatessen_spend', 'dep_deep_frozen_spend', 'dep_meat_spend', 'dep_fresh_fish_spend', 'dep_processed_meat_spend', 'dep_fruits_n_veg_spend', 'dep_flower_n_plants_spend', 'dep_canned_goods_spend', 'dep_edible_grocery_spend', 'dep_confect_n_snacks_spend', 'dep_tobacco_spend', 'dep_spirits_spend', 'dep_wine_spend', 'dep_beer_spend', 'dep_hampers_spend', 'dep_disposable_n_tblware_spend', 'dep_home_care_spend', 'dep_beauty_n_pers_care_spend', 'dep_hot_beverages_spend', 'dep_non_alcohol_drinks_spend', 'dep_home_kitchen_elec_spend', 'dep_home_kitchenware_spend', 'dep_home_tableware_spend', 'dep_pro_cookware_spend', 'dep_pro_tableware_spend', 'dep_gastro_cater_equip_spend', 'dep_bbq_n_charcoal_spend', 'dep_gardening_spend', 'dep_outdoor_furniture_spend', 'dep_indoor_furniture_spend', 'dep_seasonal_dec_spend', 'dep_party_spend', 'dep_outdoor_leisure_spend', 'dep_toys_n_games_spend', 'dep_pers_care_n_health_spend', 'dep_heating_n_ac_spend', 'dep_clean_n_laundry_care_elec_spend', 'dep_clean_n_laundry_care_spend', 'dep_decor_n_signage_spend', 'dep_security_n_safety_spend', 'dep_ship_pack_n_wrap_spend', 'dep_storage_n_handling_spend', 'dep_build_fix_n_maintain_spend', 'dep_office_furniture_spend', 'dep_office_supplies_spend', 'dep_cash_management_spend', 'dep_home_entertain_spend', 'dep_compute_print_comms_spend', 'dep_workwear_spend', 'dep_baby_spend', 'dep_sport_spend', 'dep_home_textiles_spend', 'dep_shoe_lugagge_n_acc_spend', 'dep_menswear_spend', 'dep_womenswear_spend', 'dep_kidswear_spend', 'dep_petrol_spend', 'dep_services_non_food_spend', 'dep_non_coms']
#churn = churn.drop('corporate_abc_cd', axis=1)
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [24]:
alldays = pd.DatetimeIndex(start='1.1.17',end='31.12.17',freq='D')

In [25]:
customers = df['customer'].tolist()
customers = list(set(customers))
customers = sorted(customers)

In [26]:
multiindex = pd.MultiIndex.from_product([customers,alldays],names=['customer','date'])

In [27]:
idx = pd.IndexSlice
idx

In [28]:
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [29]:
df.to_csv('intermediate.csv')

In [33]:
df = pd.read_csv('intermediate.csv')
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [34]:
#df.date = df.date.apply(lambda x: pd.datetime.strptime(x,'%Y-%m-%d'))
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [35]:
df = df.set_index(['customer', 'date']).reindex(multiindex).fillna(0)
df

                     promo_sales  nf_promo_sales  food_promo_sales  nf_sales  \
customer date
1769501  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
         2017-01-11          0.0             0.0               0.0       0.0
         2017-01-12          0.0             0.0               0.0       0.0
         2017-01-13          0.0             0.0               0.0       0.0
         2017-01-14          0.0             0.0               0.0       0.0
         2017-01-15          0.0             0.0               0.0       0.0
         2017-01-16          0.0             0.0               0.0       0.0
         2017-01-17          0.0             0.0               0.0       0.0
         2017-01-18          0.0             0.0               0.0       0.0
         2017-01-19          0.0             0.0               0.0       0.0
         2017-01-20          0.0             0.0               0.0       0.0
         2017-01-21          0.0             0.0               0.0       0.0
         2017-01-22          0.0             0.0               0.0       0.0
         2017-01-23          0.0             0.0               0.0       0.0
         2017-01-24          0.0             0.0               0.0       0.0
         2017-01-25          0.0             0.0               0.0       0.0
         2017-01-26          0.0             0.0               0.0       0.0
         2017-01-27          0.0             0.0               0.0       0.0
         2017-01-28          0.0             0.0               0.0       0.0
         2017-01-29          0.0             0.0               0.0       0.0
         2017-01-30          0.0             0.0               0.0       0.0
...                          ...             ...               ...       ...
3408413  2017-12-02          0.0             0.0               0.0       0.0
         2017-12-03          0.0             0.0               0.0       0.0
         2017-12-04          0.0             0.0               0.0       0.0
         2017-12-05          0.0             0.0               0.0       0.0
         2017-12-06          0.0             0.0               0.0       0.0
         2017-12-07          0.0             0.0               0.0       0.0
         2017-12-08          0.0             0.0               0.0       0.0
         2017-12-09          0.0             0.0               0.0       0.0
         2017-12-10          0.0             0.0               0.0       0.0
         2017-12-11          0.0             0.0               0.0       0.0
         2017-12-12          0.0             0.0               0.0       0.0
         2017-12-13          0.0             0.0               0.0       0.0
         2017-12-14          0.0             0.0               0.0       0.0
         2017-12-15          0.0             0.0               0.0       0.0
         2017-12-16          0.0             0.0               0.0       0.0
         2017-12-17          0.0             0.0               0.0       0.0
         2017-12-18          0.0             0.0               0.0       0.0
         2017-12-19          0.0             0.0               0.0       0.0
         2017-12-20          0.0             0.0               0.0       0.0
         2017-12-21          0.0             0.0               0.0       0.0
         2017-12-22          0.0             0.0               0.0       0.0
         2017-12-23          0.0             0.0               0.0       0.0
         2017-12-24          0.0             0.0               0.0       0.0
         2017-12-25          0.0             0.0               0.0       0.0
         2017-12-26          0.0             0.0               0.0       0.0
         2017-12-27          0.0             0.0               0.0       0.0
         2017-12-28          0.0             0.0               0.0       0.0
         2017-12-29          0.0             0.0               0.0       0.0
         2017-12-30          0.0             0.0               0.0       0.0
         2017-12-31          0.0             0.0               0.0       0.0

                     food_sales
customer date
1769501  2017-01-01         0.0
         2017-01-02         0.0
         2017-01-03         0.0
         2017-01-04         0.0
         2017-01-05         0.0
         2017-01-06         0.0
         2017-01-07         0.0
         2017-01-08         0.0
         2017-01-09         0.0
         2017-01-10         0.0
         2017-01-11         0.0
         2017-01-12         0.0
         2017-01-13         0.0
         2017-01-14         0.0
         2017-01-15         0.0
         2017-01-16         0.0
         2017-01-17         0.0
         2017-01-18         0.0
         2017-01-19         0.0
         2017-01-20         0.0
         2017-01-21         0.0
         2017-01-22         0.0
         2017-01-23         0.0
         2017-01-24         0.0
         2017-01-25         0.0
         2017-01-26         0.0
         2017-01-27         0.0
         2017-01-28         0.0
         2017-01-29         0.0
         2017-01-30         0.0
...                         ...
3408413  2017-12-02         0.0
         2017-12-03         0.0
         2017-12-04         0.0
         2017-12-05         0.0
         2017-12-06         0.0
         2017-12-07         0.0
         2017-12-08         0.0
         2017-12-09         0.0
         2017-12-10         0.0
         2017-12-11         0.0
         2017-12-12         0.0
         2017-12-13         0.0
         2017-12-14         0.0
         2017-12-15         0.0
         2017-12-16         0.0
         2017-12-17         0.0
         2017-12-18         0.0
         2017-12-19         0.0
         2017-12-20         0.0
         2017-12-21         0.0
         2017-12-22         0.0
         2017-12-23         0.0
         2017-12-24         0.0
         2017-12-25         0.0
         2017-12-26         0.0
         2017-12-27         0.0
         2017-12-28         0.0
         2017-12-29         0.0
         2017-12-30         0.0
         2017-12-31         0.0

[2555 rows x 5 columns]

In [36]:
# use coloumns a through c for determining whether customer was active that day or not
activity = df[['promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales']].apply(any, axis=1)

# not any is used to determine wether customer churned or not. Not any activity means churned.
def notany(x):
    return not any(x)

# use the activity series to determine for each day whether the customer churned in the following n days
def churnNday(activity, n):
    return activity.rolling(n).apply(notany).groupby(level='customer').shift(-n).astype(bool)

In [37]:
churn7d = churnNday(activity, 7)
churn7d.head()

customer  date
1769501   2017-01-01    True
          2017-01-02    True
          2017-01-03    True
          2017-01-04    True
          2017-01-05    True
dtype: bool

In [38]:
df['churn'] = churnNday(activity, 1)

In [39]:
df['chrun7day'] = churnNday(activity, 7)

In [40]:
# show first 10 days of every customer to validate the churn variables
df.loc[idx[:,:'2017-1-10'],:]

                     promo_sales  nf_promo_sales  food_promo_sales  nf_sales  \
customer date
1769501  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
1769568  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
1769800  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
...                          ...             ...               ...       ...
3375481  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
3375612  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0
3408413  2017-01-01          0.0             0.0               0.0       0.0
         2017-01-02          0.0             0.0               0.0       0.0
         2017-01-03          0.0             0.0               0.0       0.0
         2017-01-04          0.0             0.0               0.0       0.0
         2017-01-05          0.0             0.0               0.0       0.0
         2017-01-06          0.0             0.0               0.0       0.0
         2017-01-07          0.0             0.0               0.0       0.0
         2017-01-08          0.0             0.0               0.0       0.0
         2017-01-09          0.0             0.0               0.0       0.0
         2017-01-10          0.0             0.0               0.0       0.0

                     food_sales  churn  chrun7day
customer date
1769501  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True
1769568  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True
1769800  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True
...                         ...    ...        ...
3375481  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True
3375612  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True
3408413  2017-01-01         0.0   True       True
         2017-01-02         0.0   True       True
         2017-01-03         0.0   True       True
         2017-01-04         0.0   True       True
         2017-01-05         0.0   True       True
         2017-01-06         0.0   True       True
         2017-01-07         0.0   True       True
         2017-01-08         0.0   True       True
         2017-01-09         0.0   True       True
         2017-01-10         0.0   True       True

[70 rows x 7 columns]

In [ ]:
df = df.set_index('date_of_day')
df.head()

In [ ]:
df = df.groupby('customer_key')
df.head()

In [ ]:
df_all_cm = pd.DataFrame()
dfx = None
index = pd.date_range(start='2017-01-01', end='2017-12-31', freq='D')
df2 = pd.DataFrame(range(len(index)), index=index, columns=['Number'])

In [ ]:
for customer, df_customer in df.groupby('customer_key'):
    dfx = df_customer
    print(dfx)
    dy = dfx.add(df2, axis='columns', level=None, fill_value=[0])
    dy = dy.fillna(0)
    dy['customer_key'].replace({0:int(customer)}, inplace=True)
    df_all_cm = df_all_cm.append(dy, ignore_index=True)
    break

In [ ]:
df_all_cm.head(1000)

df_all_cm.to_csv('churn_100_customers_365_days.csv')

df = pd.read_csv('churn_100_customers_365_days.csv')
df = df.drop(["Unnamed: 0"], axis=1)
df.head()
df.tail()

## Download LSTM Data:
Taking events dataset for LSTM prepared by team `redsonics`

In [ ]:
from google.cloud import storage

PROJECT='mkt-cloudml-jumpstart'
DATA_BUCKET='redsonics'
FILES = ['training.csv', 'labels.csv']

client = storage.Client(project=PROJECT)
bucket = client.get_bucket(DATA_BUCKET)

for filename in FILES:
    with open(filename, 'wb') as f:
        bucket.blob(filename).download_to_file(f)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

training = pd.read_csv('training.csv')
training = training.iloc[:,1:] #  remove useless first column
labels = pd.read_csv('labels.csv')
labels = labels.iloc[:,1:] #  remove useless first column
n_users = 10000
n_seq = training.shape[0]/n_users
n_features = training.shape[1]
X = np.array(training).reshape(n_users, n_seq, n_features)
y = np.array(labels)
X_train, X_eval, y_train, y_eval = train_test_split(X, y)