<h1> Read in the dataset </h1>

The dataset is located in BigQuery.

In [1]:
!pip install keras

Requirement already satisfied: keras in /usr/local/envs/py2env/lib/python2.7/site-packages
Requirement already satisfied: numpy>=1.9.1 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: scipy>=0.14 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: six>=1.9.0 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: pyyaml in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)

In [2]:
import datalab.bigquery as bq
import seaborn as sns
import pandas as pd
import numpy as np
import shutil
import os
import keras
import tensorflow as tf
print tf.__version__

/usr/local/envs/py2env/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

1.5.0

In [3]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [7]:
%sql --module letslookatthedata
SELECT * FROM [go-de-internal:democases_go_reply_internal.churn_4_created_data]

In [8]:
churn = bq.Query(letslookatthedata).to_dataframe()
churn.describe()

             user_id     timestamp       event_id          churn
count  493346.000000  4.933460e+05  493346.000000  493346.000000
mean     2992.220561  1.497665e+09       1.830314       0.864217
std      1155.549973  8.566533e+06       1.770449       0.342558
min      1000.000000  1.483230e+09       0.000000       0.000000
25%      1985.000000  1.490528e+09       1.000000       1.000000
50%      2986.000000  1.497491e+09       1.000000       1.000000
75%      3994.000000  1.505345e+09       3.000000       1.000000
max      4999.000000  1.512090e+09       6.000000       1.000000

In [34]:
churn.sort_values(by=['timestamp'])

        user_id   timestamp  event_id       event_name  churn
193525     2147  1483229505         0         homepage      1
187779     2400  1483229720         0         homepage      1
170180     2903  1483229853         0         homepage      1
170225     2903  1483229912         1        menu page      1
193552     2147  1483229997         1        menu page      1
187760     2400  1483230117         0         homepage      1
187850     2400  1483230209         1        menu page      1
187854     2400  1483230295         1        menu page      1
187833     2400  1483230454         1        menu page      1
170226     2903  1483230512         1        menu page      1
298165     1432  1483230694         0         homepage      1
193562     2147  1483230755         1        menu page      1
383379     1222  1483230759         0         homepage      1
170227     2903  1483230990         1        menu page      1
383447     1222  1483230996         1        menu page      1
75281      2342  1483230998         0         homepage      1
383441     1222  1483231044         1        menu page      1
287588     2706  1483231094         0         homepage      1
383452     1222  1483231101         1        menu page      1
187836     2400  1483231204         1        menu page      1
187867     2400  1483231276         2           log in      1
224352     2930  1483231321         0         homepage      1
51364      3354  1483231328         0         homepage      1
187879     2400  1483231329         3  basket overview      1
193563     2147  1483231417         1        menu page      1
224383     2930  1483231471         1        menu page      1
170195     2903  1483231492         1        menu page      1
298178     1432  1483231553         1        menu page      1
75370      2342  1483231579         1        menu page      1
51405      3354  1483231645         1        menu page      1
...         ...         ...       ...              ...    ...
97724      3889  1512084056         1        menu page      1
253097     3456  1512084181         0         homepage      1
214240     3437  1512084378         1        menu page      0
97753      3889  1512084768         2           log in      1
253177     3456  1512084925         1        menu page      1
97769      3889  1512085190         3  basket overview      1
40418      1045  1512085446         0         homepage      1
384696     4038  1512085595         0         homepage      1
307050     4252  1512085952         0         homepage      1
97797      3889  1512086001         4        check out      1
384749     4038  1512086042         1        menu page      1
40493      1045  1512086275         1        menu page      1
40477      1045  1512086306         1        menu page      1
384735     4038  1512086395         1        menu page      1
97808      3889  1512086575         5    confirm order      1
307092     4252  1512086583         1        menu page      1
40503      1045  1512086758         2           log in      1
40508      1045  1512086928         3  basket overview      1
97825      3889  1512087237         6  order completed      1
307093     4252  1512087305         1        menu page      1
307075     4252  1512087320         1        menu page      1
40519      1045  1512087697         4        check out      1
307132     4252  1512087799         1        menu page      1
307169     4252  1512087834         2           log in      1
40526      1045  1512088163         5    confirm order      1
307180     4252  1512088325         3  basket overview      1
40537      1045  1512088471         6  order completed      1
307201     4252  1512088624         4        check out      1
307217     4252  1512089070         5    confirm order      1
307230     4252  1512089919         6  order completed      1

[493346 rows x 5 columns]

In [35]:
shuffled = churn.sample(frac=1)
trainsize = int(len(shuffled['timestamp']) * 0.70)
validsize = int(len(shuffled['timestamp']) * 0.15)

df_train = shuffled.iloc[:trainsize, :]
df_valid = shuffled.iloc[trainsize:(trainsize+validsize), :]
df_test = shuffled.iloc[(trainsize+validsize):, :]

In [36]:
def to_csv(df, filename):
  outdf = df.copy(deep=False)
  
  # reorder columns so that target is first column
  cols = outdf.columns.tolist()
  cols.remove('timestamp')
  cols.insert(0, 'timestamp')
  print (cols)  # new order of columns
  outdf = outdf[cols]
  outdf.to_csv(filename, header=True, index_label=False, index=False)
  
  print outdf.shape

to_csv(churn, 'churn-timedepenent-all.csv')
to_csv(df_train, 'churn-timedepenent-train.csv')
to_csv(df_valid, 'churn-timedepenent-valid.csv')
to_csv(df_test, 'churn-timedepenent-test.csv')

['timestamp', u'user_id', u'event_id', u'event_name', u'churn']
(493346, 5)
['timestamp', u'user_id', u'event_id', u'event_name', u'churn']
(345342, 5)
['timestamp', u'user_id', u'event_id', u'event_name', u'churn']
(74001, 5)
['timestamp', u'user_id', u'event_id', u'event_name', u'churn']
(74003, 5)

In [41]:
from pandas import read_csv
from datetime import datetime
# load data
dataset = read_csv('churn-timedepenent-all.csv', index_col=False)
#dataset.drop('user_id')
dataset = dataset[['timestamp', 'user_id', 'event_id', 'event_name', 'churn']]
dataset.head(5)

    timestamp  user_id  event_id event_name  churn
0  1490200496     1024         0   homepage      0
1  1492249981     1024         0   homepage      0
2  1505447005     1024         0   homepage      0
3  1492933253     1024         0   homepage      0
4  1493712021     1024         0   homepage      0

In [ ]:
# manually specify column names
dataset.columns = ['event_id', 'event_name', 'churn']
dataset.index.name = 'timestamp'
# mark all NA values with 0
dataset['churn_prediction'].fillna(0, inplace=True)
# summarize first 5 rows
print(dataset.head(5))
# save to file
dataset.to_csv('churn-for-LSTM.csv')

In [ ]:
from pandas import read_csv
from matplotlib import pyplot
# load dataset
dataset = read_csv('pollution.csv', header=0, index_col=0)
values = dataset.values
# specify columns to plot
groups = [0, 1, 2, 3, 5, 6, 7]
i = 1
# plot each column
pyplot.figure()
for group in groups:
    pyplot.subplot(len(groups), 1, i)
    pyplot.plot(values[:, group])
    pyplot.title(dataset.columns[group], y=0.5, loc='right')
    i += 1
pyplot.show()

In [ ]:
from sklearn.model_selection import train_test_split

training = pd.read_csv('training.csv')
training = training.iloc[:,1:] #  remove useless first column
labels = pd.read_csv('labels.csv')
labels = labels.iloc[:,1:] #  remove useless first column
n_users = 10000
n_seq = training.shape[0]/n_users
n_features = training.shape[1]
X = np.array(training).reshape(n_users, n_seq, n_features)
y = np.array(labels)
X_train, X_eval, y_train, y_eval = train_test_split(X, y)